.font-1-l-a {
    font: 900 1.75rem/2.6rem 'Red Hat Display', sans-serif;
}

.font-1-l-b {
    font: 900 1.125rem/1.68rem 'Red Hat Display', sans-serif;
}

.font-1-l-c {
    font: 900 0.875rem/1.31rem 'Red Hat Display', sans-serif;
}

.font-1-m {
    font: 700 0.875rem/1.31rem 'Red Hat Display', sans-serif;
}

.font-1-s {
    font: 500 1.125rem/1.68rem 'Red Hat Display', sans-serif; 
}